#footer{
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    background-color: #181A1B;
    color: white;
}

#footer .footerArea{
    margin-top: 100px;
    margin-bottom: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#footer .footerArea .footerAreaWraper{
}

#footer .footerArea .footerAreaWraper .container{
    padding: 25px;
    border-bottom: 1px solid white;
}

.copywriteContent{
    display: flex;
    gap: 50px;
    margin: 20px 0;
    font-family: 'Courier New', Courier, monospace;
    letter-spacing: -0.2px;
}

.copywriteMenu{
}

.copywriteMenu ul{
    display: flex;
    gap: 25px;
}

.copywriteMenu ul li{
    list-style: none;
}

@media screen and (min-width: 80px) and (max-width: 768px) {
    #footer{
    }

    #footer .footerArea{
    }

    #footer .footerArea .footerAreaWraper{
    }

    #footer .footerArea .footerAreaWraper .container{
    }

    .copywriteContent{
        display: flex;
        flex-direction: column;
        align-items: center;
        font-size: 12px;
        font-weight: bold;
    }

    .copywriteMenu{
    }

    .copywriteMenu ul{
        display: flex;
        gap: 25px;
    }

    .copywriteMenu ul li{
        list-style: none;
    }
}