.header {
    background-color: #181A1B;
    padding: 10px;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

.menuToggleButton {
    padding: 10px;
    font-size: 130%;
    display: none;
    background: #362C93;
    border: none;
    color: white;
    cursor: pointer;
}

.container {
    display: flex;
    gap: 40px;
    align-items: center;
    justify-content: center;
}

/* Column 1 */
.headerCol1 {
    display: flex;
    align-items: center;
    gap: 25px;
    color: white;
}

.logo {
    font-weight: bold;
    font-size: 20px;
}

.exploreTestButton {
    border: 1px solid #362C93;
    padding: 15px;
    border-radius: 8px;
    color: white;
    font-size: 16px;
    position: relative;
    background: none;
    cursor: pointer;
}

.exploreTestButtonDropdownMenu {
    display: none;
    background-color: #1C1E1F;
    border-radius: 8px;
    position: absolute;
    padding: 12px 16px;
    left: 0;
    top: 100%;
    z-index: 2000;
}

.exploreTestButton:hover .exploreTestButtonDropdownMenu {
    display: block;
}

.testTypeList ul {
    display: flex;
    flex-direction: column;
    list-style: none;
    padding: 0;
    margin: 0;
}

.testTypeList li {
    margin: 10px 0;
    padding: 15px 20px 15px 10px;
    background-color: #222627;
    color: white;
    border-radius: 5px;
    white-space: nowrap;
    transition: 200ms;
    cursor: pointer;
    color: white;
}

.testTypeList li:hover {
    background-color: #2f3a3d;
}

/* Column 2 */
.headerCol2 {}

.menuItemContainer {}

.menuItem {
    list-style: none;
    display: flex;
    gap: 25px;
    align-items: center;
    padding: 0;
    margin: 0;
}

.item {
    border-bottom: 3px solid #1900ff;
    color: rgb(226, 226, 226);
    padding: 10px 18px;
    transition: 200ms;
    text-decoration: none;
}

.item:hover {
    border-bottom: 3px solid #0f009a;
    color: white;
}

/* Column 3 */
.headerCol3 {
    display: flex;
    align-items: center;
}

.loginRegisterButton {
    padding: 18px;
    border-radius: 8px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    font-family: 'Courier New', Courier, monospace;
    background-color: #362C93;
    color: white;
    transition: 150ms;
    text-decoration: none;
}

.loginRegisterButton:hover {
    background-color: #595394;
}

/* ================= MOBILE ================= */

@media (max-width: 768px) {

    .header {
        padding: 20px;
    }

    .menuToggleButton {
        display: block;
    }

    .container {
        display: none;
        flex-direction: column;
        height: 100vh;
        justify-content: center;
        gap: 40px;
    }

    .menuOpen {
        display: flex;
    }

    .headerCol1 {
        flex-direction: column;
    }

    .menuItem {
        flex-direction: column;
    }

    .headerCol3 {
        justify-content: center;
    }
}