#header{
    background-color: #181A1B;
    padding: 10px;
    position: fixed;
    width: 100%;
    z-index: 10;
}

#header .menuToggleButton{
    padding: 10px;
    font-size: 130%;
    display: none;
}

#header .container{
    display: flex;
    gap: 40px;
    align-content: center;
    justify-content: center;
}



#header .container .headerCol1{
    display: flex;
    align-items: center;
    gap: 25px;
    color: white;
}

#header .container .headerCol1 .exploreTestButton{
    border: none;
    outline: none;
    padding: 15px;
    border-radius: 8px;
    border: 1px solid #362C93;
    color: white;
    font-size: 16px;
    position: relative;
    background: none;
}

#header .container .headerCol1 .exploreTestButton .exploreTestButtonDropdownMenu{
    display: none;
    background-color: #1C1E1F;
    border-radius: 8px;
    position: absolute;
    padding: 12px 16px;
    left: 0;
    top: 100%;
    z-index: -1;
}

#header .container .headerCol1 .exploreTestButton .exploreTestButtonDropdownMenu .testTypeList{
    display: flex;
}

#header .container .headerCol1 .exploreTestButton .exploreTestButtonDropdownMenu .testTypeList ul{
    display: flex;
    flex-direction: column;
    list-style: none;
}

#header .container .headerCol1 .exploreTestButton .exploreTestButtonDropdownMenu .testTypeList ul li{
    margin: 10px 0;
    padding: 20px 20px 20px 10px;
    text-align: left;
    background-color: #222627;
    color: white;
    border-radius: 5px;
    white-space: nowrap;
    transition: 200ms;
    cursor: pointer;
}

#header .container .headerCol1 .exploreTestButton .exploreTestButtonDropdownMenu .testTypeList ul li:hover{
    background-color: #2f3a3d;
}

#header .container .headerCol1 .exploreTestButton:hover .exploreTestButtonDropdownMenu{
  display: block;
}

#header .container .headerCol2{
}

#header .container .headerCol2 .menuItemContainer{
    height: 100%;
}

#header .container .headerCol2 .menuItemContainer .menuItem{
    height: 100%;
    list-style: none;
    display: flex;
    gap: 25px;
    align-items: center;
}

#header .container .headerCol2 .menuItemContainer .menuItem .item{
    border-bottom: 3px solid #1900ff;
    color: rgb(226, 226, 226);
    padding: 10px 18px;
    transition: 200ms;
}

#header .container .headerCol2 .menuItemContainer .menuItem .i1:hover,
#header .container .headerCol2 .menuItemContainer .menuItem .i2:hover,
#header .container .headerCol2 .menuItemContainer .menuItem .i3:hover,
#header .container .headerCol2 .menuItemContainer .menuItem .i4:hover,
#header .container .headerCol2 .menuItemContainer .menuItem .i5:hover,
#header .container .headerCol2 .menuItemContainer .menuItem .i6:hover {
    border-bottom: 3px solid #0f009a;
    color: white;
}



#header .container .headerCol3{
    display: flex;
    align-items: center;
}

#header .container .headerCol3 .loginRegisterButton{
    padding: 18px;
    border-radius: 8px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    font-family: 'Courier New', Courier, monospace;
    background-color: #362C93;
    color: white;
    transition: 100ms;
}

#header .container .headerCol3 .loginRegisterButton:hover{
    background-color: #595394;
}


@media screen and (min-width: 80px) and (max-width: 768px) {
    #header{
        display: flex;
        flex-direction: column;
        padding: 20px;
    }

    #header .menuToggleButton{
        padding: 10px;
        font-size: 250%;
        border: none;
        outline: none;
        display: flex;
        width: fit-content;
        background-color: #362C93;
    }

    #header .container{
        display: none;
    }

    #header .menuOpen{
        height: 100vh;
        display: flex;
        flex-direction: column;
        align-content: center;
        justify-content: center;
    }

    #header .menuOpen .headerCol1{
        display: flex;
        flex-direction: column;
    }

    #header .menuOpen .headerCol2 .menuItemContainer .menuItem{
        display: flex;
        flex-direction: column;
    }

    #header .menuOpen .headerCol3{
        display: flex;
        justify-content: center;
        align-content: center;
    }
}
