.signInRegister {
  display: flex;
  min-height: 100vh;
  width: 100%;
}

.signInRegisterHero {
  flex: 1;
  background: linear-gradient(135deg, #817bff, #4d00d3);
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  font-weight: 600;
}


.signInRegisterContainer {
  background-color: #181A1B;
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2rem;
}

/* Card Wrapper */
.signInRegisterWrapper {
  width: 100%;
  max-width: 400px;
  padding: 2.5rem;
  border-radius: 12px;
  box-shadow: 0 10px 30px 10px rgb(32, 32, 32);
  transition: 0.3s ease;
}

/* Toggle Buttons */
.switchButtons {
  display: flex;
  margin-bottom: 1.5rem;
  border-radius: 8px;
  overflow: hidden;
}

.switchButtons button {
  color: white;
  background-color: black;
  flex: 1;
  padding: 0.7rem;
  border: none;
  cursor: pointer;
  font-weight: 500;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 120%;
  transition: 0.5s ease;
}

.switchButtons button:hover {
    background-color: #212121;
}

/* Form Styling */
.form {
  display: flex;
  flex-direction: column;
}

.form h2 {
  margin-bottom: 1.5rem;
  text-align: center;
  color: #ffffff;
}

.form input {
  border: none;
  color: white;
  background: none;
  padding: 0.8rem;
  margin-bottom: 1rem;
  border-bottom: 2px solid #868686;
  outline: none;
  transition: 0.3s ease;
  font-size: 0.95rem;
}

.form input:focus {
  border-bottom: 2px solid #ffffff;
}


.form select {
  border: none;
  background: none;
  padding: 0.8rem;
  margin-bottom: 1rem;
  border-bottom: 2px solid #868686;
  outline: none;
  transition: 0.3s ease;
  font-size: 0.95rem;
  color: white;
}

/* Submit Button */
.form button {
  padding: 0.8rem;
  border-radius: 8px;
  border: none;
  background: #4f46e5;
  color: white;
  font-weight: 600;
  cursor: pointer;
  transition: 0.3s ease;
}

.form button:hover {
  background: #4338ca;
}

/* Responsive */
@media (max-width: 768px) {
  .signInRegister {
    flex-direction: column;
  }

  .signInRegisterHero {
    height: 200px;
    font-size: 1.5rem;
  }
}