/* ================= ROOT ================= */

.home {
  padding-top: 90px;
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
}


/* ================= BANNER AREA ================= */

.bannerArea {
  width: 100%;
}

.bannerContainer {
  position: relative;
  padding: 140px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;

  /* Grid Background */
  background-image:
    repeating-linear-gradient(
      to right,
      rgba(0, 0, 0, 0.06) 0px,
      rgba(0, 0, 0, 0.06) 1px,
      transparent 1px,
      transparent 40px
    ),
    repeating-linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.06) 0px,
      rgba(0, 0, 0, 0.06) 1px,
      transparent 1px,
      transparent 40px
    );

  /* Fade bottom */
  -webkit-mask-image: linear-gradient(to bottom, black 75%, transparent 100%);
  mask-image: linear-gradient(to bottom, black 75%, transparent 100%);
}

.bannerText {
  padding: 20px;
  font-size: 50px;
  max-width: 1000px;
}

.bannerSubText {
  font-size: 25px;
  margin-top: 25px;
  color: rgb(0, 0, 0);
}


/* ================= CAROUSEL ================= */

.homeCarouselArea {
  margin-top: 40px;
  overflow: hidden;
  width: 100%;
}

.carouselContainer {
  width: 100%;
  overflow: hidden;
}

.carouselTrack {
  display: flex;
  width: max-content;
  animation: scroll 25s linear infinite;
}

.carouselItem {
  margin: 0 40px;
  flex-shrink: 0;
}

.carouselItem img {
  width: 200px;
  height: auto;
  display: block;
}

/* Infinite Scroll Animation */
@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}


/* ================= GROWTH SECTION ================= */

.growthMindSetArea {
  position: relative;
  background-color: #FF5C4C;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 140px 20px;
  overflow: hidden;
}

.growthMindSetArea::before,
.growthMindSetArea::after {
  content: '';
  position: absolute;
  left: 0;
  width: 100%;
  height: 100px;
  background-color: white;
  border-radius: 50% / 100%;
}

.growthMindSetArea::before {
  top: -50px;
}

.growthMindSetArea::after {
  bottom: -50px;
}

.container {
  max-width: 1100px;
  text-align: center;
}

.growthText {
  font-size: 250%;
  line-height: 1.6;
  color: white;
}


/* ================= RESPONSIVE ================= */

@media (max-width: 1024px) {
  .bannerText {
    font-size: 40px;
  }

  .bannerSubText {
    font-size: 20px;
  }

  .growthText {
    font-size: 200%;
  }
}


@media (max-width: 768px) {

  .bannerContainer {
    padding: 80px 15px;
  }

  .bannerText {
    font-size: 28px;
    padding: 0;
  }

  .bannerSubText {
    margin-top: 30px;
    font-size: 16px;
  }

  .homeCarouselArea {
    margin-top: 50px;
  }

  .carouselTrack {
    animation: scroll 35s linear infinite;
  }

  .carouselItem {
    margin: 0 20px;
  }

  .carouselItem img {
    width: 140px;
  }

  .growthMindSetArea {
    padding: 100px 20px;
  }

  .growthText {
    font-size: 150%;
  }
}


@media (max-width: 480px) {

  .bannerText {
    font-size: 22px;
  }

  .bannerSubText {
    font-size: 14px;
  }

  .carouselItem img {
    width: 120px;
  }

  .growthText {
    font-size: 130%;
  }
}